streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
sentence-transformers
faiss-cpu
gdown
python-dotenv
pymupdf
unstructured
unstructured[html]
beautifulsoup4
lxml
html5lib
requests
pdfminer.six
tiktoken
