streamlit==1.28.0
langchain==0.0.332
langchain-core==0.0.85
langchain-community==0.0.40
langchain-groq==0.1.1
langchain-text-splitters==0.0.15

sentence-transformers==2.2.2
transformers==4.31.0
torch==2.2.2

faiss-cpu==1.7.4
gdown==4.7.1
python-dotenv==1.0.0
pymupdf==1.22.3

# URL loader dependencies
unstructured==0.7.9
unstructured[html]==0.7.9
beautifulsoup4==4.12.2
lxml==4.9.3
html5lib==1.1
requests==2.31.0
html2text==2020.1.16

pdfminer.six==20221105
tiktoken==0.4.0
sentencepiece==0.1.99
huggingface-hub==0.15.1
